.task-item {
  border-left: 5px solid rgb(171, 171, 171);
  background-color: rgb(238, 238, 238);
  border-radius: 4px;
  padding: 1rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.reminder {
  border-left: 5px solid green;
}

.task-control {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-around;
}

.fa-solid:hover {
  cursor: pointer;
  color: blue;
}
